<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web ini untuk melihat dan mengetahui Restaurant terbaik di indonesia,Nantikan info terbaru dari web ini" />
    <meta name="theme-color" content="#00adb5" />
    <link rel="apple-touch-icon" href="./icons/maskable_icon.png" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Jaya Apps - Restaurant Catalogue</title>
  </head>
  <body>
    <a href="#mainContent" tabindex="0" class="skip-link">Skip to content ?</a>
    <header-brand></header-brand>
    <jumbotron-bg></jumbotron-bg>
    <main id="mainContent"></main>
    <footer-goks></footer-goks>
  </body>
</html>
