<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#f1eb90" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="./favicon.png" />
    <link rel="preload" crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <title>Candra Food</title>
  </head>
  <body>
    <a href="#mainContent" tabindex="0" class="skip-link">Skip to content ?</a>
    <header>
      <navigation-bar></navigation-bar>
    </header>
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <footer-aja></footer-aja>
    </footer>
  </body>
</html>
