footer {
  background-color: #f1eb90;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer p {
  margin: 0;
  color: #495057;
}

footer a {
  color: #343a40;
  text-decoration: none;
  max-height: 44px;
  max-width: 44px;
  display: inline-block;
}

footer a:hover {
  color: #3685ca;
  text-decoration: underline;
}
