@media only screen and (max-width: 340px) {
  nav {
    display: flex;
    flex-direction: row;
  }

  .logo-font,
  .hero__title {
    font-size: 1.5em;
  }

  .nav-item a,
  .hero__subtitle {
    font-size: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block;
    background-color: white;
    border: 1px solid black;
    text-align: center;
  }

  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .menu span {
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 3em 0;
    height: auto;
    flex-wrap: wrap;
  }

  .nav-list {
    display: none;
  }

  .nav-list.hidden {
    display: flex;
  }
}
